be/WebApi/WebApi/Connected Services/ChybaWsdlService/Team024Chyba.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://labss2.fiit.stuba.sk/pis/students/team024chyba/types" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://labss2.fiit.stuba.sk/pis/students/team024chyba" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Team024Chyba" targetNamespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://labss2.fiit.stuba.sk/pis/students/team024chyba/types" targetNamespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba/types">
      <xsd:complexType name="getById">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getById" nillable="true" type="ns:getById" />
      <xsd:complexType name="Chyba">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="vytlacok_id" type="xsd:int" />
          <xsd:element name="pouzivatel_id" type="xsd:int" />
          <xsd:element name="staryUdaj" type="xsd:string" />
          <xsd:element name="novyUdaj" type="xsd:string" />
          <xsd:element name="potvrdena" type="xsd:boolean" />
          <xsd:element name="admin_id" type="xsd:int" />
          <xsd:element name="datZalozenia" type="xsd:dateTime" />
          <xsd:element name="datVyhodnotenia" type="xsd:dateTime" />
          <xsd:element name="vyhodnotena" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Chyba" nillable="true" type="ns:Chyba" />
      <xsd:complexType name="getByIdResponse">
        <xsd:sequence>
          <xsd:element name="chyba" type="ns:Chyba" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByIdResponse" nillable="true" type="ns:getByIdResponse" />
      <xsd:complexType name="ArrayOfIds">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="id" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getByAttributeValue">
        <xsd:sequence>
          <xsd:element name="attribute_name" type="xsd:string" />
          <xsd:element name="attribute_value" type="xsd:string" />
          <xsd:element name="ids" type="ns:ArrayOfIds" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByAttributeValue" nillable="true" type="ns:getByAttributeValue" />
      <xsd:complexType name="ArrayOfChybas">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="chyba" nillable="true" type="ns:Chybas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Chybas">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="vytlacok_id" type="xsd:int" />
          <xsd:element name="pouzivatel_id" type="xsd:int" />
          <xsd:element name="staryUdaj" type="xsd:string" />
          <xsd:element name="novyUdaj" type="xsd:string" />
          <xsd:element name="potvrdena" type="xsd:boolean" />
          <xsd:element name="admin_id" type="xsd:int" />
          <xsd:element name="datZalozenia" type="xsd:dateTime" />
          <xsd:element name="datVyhodnotenia" type="xsd:dateTime" />
          <xsd:element name="vyhodnotena" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Chybas" nillable="true" type="ns:Chybas" />
      <xsd:complexType name="getByAttributeValueResponse">
        <xsd:sequence>
          <xsd:element name="chybas" type="ns:ArrayOfChybas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByAttributeValueResponse" nillable="true" type="ns:getByAttributeValueResponse" />
      <xsd:complexType name="getByNumericCondition">
        <xsd:sequence>
          <xsd:element name="attribute_name" type="xsd:string" />
          <xsd:element name="attribute_value" type="xsd:string" />
          <xsd:element name="math_condition" type="xsd:string" />
          <xsd:element name="ids" type="ns:ArrayOfIds" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByNumericCondition" nillable="true" type="ns:getByNumericCondition" />
      <xsd:complexType name="getByNumericConditionResponse">
        <xsd:sequence>
          <xsd:element name="chybas" type="ns:ArrayOfChybas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByNumericConditionResponse" nillable="true" type="ns:getByNumericConditionResponse" />
      <xsd:complexType name="getAll">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getAll" nillable="true" type="ns:getAll" />
      <xsd:complexType name="getAllResponse">
        <xsd:sequence>
          <xsd:element name="chybas" type="ns:ArrayOfChybas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAllResponse" nillable="true" type="ns:getAllResponse" />
      <xsd:complexType name="insert">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string" />
          <xsd:element name="team_password" type="xsd:string" />
          <xsd:element name="Chyba" type="ns:Chyba" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insert" nillable="true" type="ns:insert" />
      <xsd:complexType name="insertResponse">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insertResponse" nillable="true" type="ns:insertResponse" />
      <xsd:complexType name="update">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string" />
          <xsd:element name="team_password" type="xsd:string" />
          <xsd:element name="entity_id" type="xsd:int" />
          <xsd:element name="Chyba" type="ns:Chyba" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="update" nillable="true" type="ns:update" />
      <xsd:complexType name="updateResponse">
        <xsd:sequence>
          <xsd:element name="updates" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateResponse" nillable="true" type="ns:updateResponse" />
      <xsd:complexType name="delete">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string" />
          <xsd:element name="team_password" type="xsd:string" />
          <xsd:element name="entity_id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="delete" nillable="true" type="ns:delete" />
      <xsd:complexType name="deleteResponse">
        <xsd:sequence>
          <xsd:element name="deleted" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteResponse" nillable="true" type="ns:deleteResponse" />
    </xsd:schema>
  </types>
  <message name="getByIdRequest">
    <part name="parameters" element="ns:getById" />
  </message>
  <message name="getByIdResponse">
    <part name="parameters" element="ns:getByIdResponse" />
  </message>
  <message name="getByAttributeValueRequest">
    <part name="parameters" element="ns:getByAttributeValue" />
  </message>
  <message name="getByAttributeValueResponse">
    <part name="parameters" element="ns:getByAttributeValueResponse" />
  </message>
  <message name="getByNumericConditionRequest">
    <part name="parameters" element="ns:getByNumericCondition" />
  </message>
  <message name="getByNumericConditionResponse">
    <part name="parameters" element="ns:getByNumericConditionResponse" />
  </message>
  <message name="getAllRequest">
    <part name="parameters" element="ns:getAll" />
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="ns:getAllResponse" />
  </message>
  <message name="insertRequest">
    <part name="parameters" element="ns:insert" />
  </message>
  <message name="insertResponse">
    <part name="parameters" element="ns:insertResponse" />
  </message>
  <message name="updateRequest">
    <part name="parameters" element="ns:update" />
  </message>
  <message name="updateResponse">
    <part name="parameters" element="ns:updateResponse" />
  </message>
  <message name="deleteRequest">
    <part name="parameters" element="ns:delete" />
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="ns:deleteResponse" />
  </message>
  <portType name="Team024ChybaPortType">
    <operation name="getById">
      <input message="tns:getByIdRequest" />
      <output message="tns:getByIdResponse" />
    </operation>
    <operation name="getByAttributeValue">
      <input message="tns:getByAttributeValueRequest" />
      <output message="tns:getByAttributeValueResponse" />
    </operation>
    <operation name="getByNumericCondition">
      <input message="tns:getByNumericConditionRequest" />
      <output message="tns:getByNumericConditionResponse" />
    </operation>
    <operation name="getAll">
      <input message="tns:getAllRequest" />
      <output message="tns:getAllResponse" />
    </operation>
    <operation name="insert">
      <input message="tns:insertRequest" />
      <output message="tns:insertResponse" />
    </operation>
    <operation name="update">
      <input message="tns:updateRequest" />
      <output message="tns:updateResponse" />
    </operation>
    <operation name="delete">
      <input message="tns:deleteRequest" />
      <output message="tns:deleteResponse" />
    </operation>
  </portType>
  <binding name="Team024ChybaBinding" type="tns:Team024ChybaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getById">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#getById" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="getByAttributeValue">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#getByAttributeValue" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="getByNumericCondition">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#getByNumericCondition" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#getAll" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#insert" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#update" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction="http://labss2.fiit.stuba.sk/pis/students/team024chyba/#delete" />
      <input>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://labss2.fiit.stuba.sk/pis/students/team024chyba" />
      </output>
    </operation>
  </binding>
  <service name="Team024ChybaService">
    <port name="Team024ChybaPort" binding="tns:Team024ChybaBinding">
      <soap:address location="http://labss2.fiit.stuba.sk/pis/ws/Students/Team024Chyba" />
    </port>
  </service>
</definitions>